@import "https://cdn.skypack.dev/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

/* ... Popup Styling ... */

#info-table {
  max-width: 800px;
  width: 100%;
  margin: 0 auto; /* Center the table */
}

#info-table h2 {
  text-align: center;
}

#info-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

#info-table th,
#info-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#info-table th {
  background-color: #f2f2f2;
}

#info-table td {
  font-size: 14px;
}

#info-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#info-table tr:hover {
  background-color: #e6e6e6;
}

/* Adjust column widths for better responsiveness */
@media only screen and (max-width: 768px) {
  th.name, td.name {
    width: 100%; /* Full width on small screens */
  }

  th.coordinate, td.coordinate {
    width: 100%; /* Full width on small screens */
  }

  th.type, td.type {
    width: 100%; /* Full width on small screens */
  }
}
